/* eric meyer CSS reset v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

body {
    font-size: 80%;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

iframe {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #FFF; 
}

.ui-dialog { font-size: .6em; }

h1

#info {
/*    margin:0;
    position:fixed;
    z-index: 100;
*/  border-bottom: 2px solid #AAA;
}

#status_box {
    float: left;
/*    width: 30%;
*/    overflow: auto;
    font-size: 1em;
    padding: 5px;
}
#controls_box {
    float: left;
    width: 50%;
    overflow: auto;
    font-size: 1em;
    padding: 5px;
}
#controls_box h1 {
    color: #444;
    font-size: 1.5em;
    margin-bottom: .3em;
}

#actions_box {
    float: right;
    font-size: 1.4em;
    padding: 5px;
    width: 200px;
}

#url, #loading {
    display: none;
}

#url_form {
    font-size: 1.4em;
}
#url_form input {
    font-size: 1.4em;
}
#u {
    color: #777;
    padding: .5em;
    background: #FFE;
    border: 1px solid #EEE;
}